.App{
background: lightgray;
}
#img-petland{
  margin-left:-50px;
}


.App .header{
  background: rgb(211, 204, 140);
  text-decoration: none;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 5fr;
}

.App .navigation ul{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-decoration: none;
  list-style-type:none;
}

.App .navigation ul #li1{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-decoration: none;
  list-style-type:none;
  background-color: #b5cc63;
  color:black;
  padding: 10px 10px 10px 10px;
  border:2px solid  #5e663f;
  border-radius:20px;
  text-align: center;
  display: inline-block;
  margin:0 0 0 30px;
}

.App .navigation ul #li2{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-decoration: none;
  list-style-type:none;
  background-color: #b5cc63;
  color:black;
  padding: 10px 10px 10px 10px;
  border:2px solid  #5e663f;
  border-radius:20px;
  text-align: center;
  display: inline-block;
  margin:0 0 0 30px;
}

.App .navigation ul #li3{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-decoration: none;
  list-style-type:none;
  background-color: #b5cc63;
  color:black;
  padding: 10px 10px 10px 10px;
  border:2px solid  #5e663f;
  border-radius:20px;
  text-align: center;
  display: inline-block;
  margin:0 0 0 30px;
}

.App .navigation ul li  a.selected{
  background: rgb(218, 44, 44);
  color: black;
}

.image-dog-web{

  -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,1), inset 0 2px 1px rgba(255,255,255,.5), inset 0 -9px 2px rgba(0,0,0,.6), inset 0 -12px 2px rgba(255,255,255,.3);
	-moz-box-shadow: inset 0 0 4px rgba(0,0,0,1), inset 0 2px 1px rgba(255,255,255,.5), inset 0 -9px 2px rgba(0,0,0,.6), inset 0 -12px 2px rgba(255,255,255,.3);
	box-shadow: inset 0 0 4px rgba(0,0,0,1), inset 0 2px 1px rgba(255,255,255,.5), inset 0 -9px 2px rgba(0,0,0,.6), inset 0 -12px 2px rgba(255,255,255,.3);

	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;

}
.about{
  margin: 20px;
}

.about h2{
  text-align: center;
}
.Search{
  margin-left: 50px;
}

#search-input{
  width:95%;
  padding:10px;
  border:lightgray solid 1px;
  border-radius:20px;
}

.table table {
 width:30%;
 margin-left: auto;
 margin-right: auto;
 margin-top:50px;
 margin-bottom: 50px;
 border-radius: 10px;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding-top:10px;
  padding-bottom:10px;
  padding-left:30px;
  padding-right:30px;
  border-radius: 10px;
}
.App footer{
  background-color: rgb(211, 204, 140);
  color: black;
  display:grid;
  grid-template-columns: 3fr 4fr;
  padding: 20px;
}

input{
  background-color: white;
  color: black;
  padding:15px;
  
}

 